@import url("/Users/duncan/Classes/StatComputing/IDynDocs/inst/CSS/OmegaTech.css");


DIV.solution {background: lightgray;
              border: solid 1px;
             }

DIV.remark {background: cyan;
            padding: 30pt;
            margin-left: 100pt;
            margin-right: 100pt;    
           }


PRE.dataContent {
          background: lightgray;
          border: solid 1px blue;
         }